.new-blog-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.new-blog-content {
  height: 400px;
  margin-bottom: 80px;
}

.pdf-download {
  background-color: lightblue;
  padding: 5px;
  padding-inline: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.pdf-download:hover {
  background-color: rgb(94, 180, 212);
}

.comment-holder {
  border: 1px solid rgb(0, 0, 0, 0.2);
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.comment-holder:hover {
  background-color: rgb(0, 0, 0, 0.1);
  cursor: pointer;
}

.comment-like {
  margin-left: auto;
}
